#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 5rem; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--hover-color));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  background-color: var(--card-bg-color);
  color: var(--text-color);
}

.read-the-docs {
  color: var(--secondary-text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-left: 220px; /* Adjust to the width of the left sidebar */
  margin-right: 220px; /* Adjust to the width of the right sidebar */
  padding: 1px;
  padding-top: 100px;
}

.main-content .content-container {
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  text-align: left;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .main-content {
    margin-left: 180px; 
    margin-right: 180px; 
  }
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 150px; 
    margin-right: 150px; 
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0; 
    margin-right: 0; 
    padding-top: 60px; 
  }

  .header-container {
    left: 0; 
    right: 0; 
    width: 100%; 
  }

  .leftbar-container,
  .rightbar-container {
    display: none; 
  }
}