.box-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px; 
  height: auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4c4193; 
  color: var(--text-color);
}

.box-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-card-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.task-name {
  font-weight: bold;
  color: var(--primary-color);
}

.box-card-description {
  font-size: 1em;
  margin-bottom: 8px;
}

.box-card-meta {
  color: var(--secondary-text-color);
  font-size: 0.9em;
  margin-bottom: 8px;
}

.box-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-card-actions span {
  margin-right: 8px;
}

.box-card-actions .icon {
  cursor: pointer;
  transition: color 0.2s;
}

.box-card-actions .icon:hover {
  color: var(--hover-color);
}

.add-task-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4193; /* Change background color */
  color: var(--text-color);
}