.people-page {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-member-button {
  background-color: var(--button-bg-color);
  color: black !important; /* Ensure the text color is black */
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}