.team-page {
  padding: 20px;
  padding-top: 80px; /* Add padding to the top to account for the header */
  background-color: var(--background-color);
  color: var(--text-color);
}

.team-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.team-name {
  color: white !important; /* Ensure the text color is white */
  font-size: 2rem; /* Adjust font size as needed */
}

.people-button {
  display: flex;
  align-items: center;
  color: Black !important; /* Ensure the text color is white */
}

.task-section {
  margin-top: 20px;
}