.header-container {
    position: fixed;
    top: 0;
    left: 200px; /* Add padding to the left to account for the left sidebar */
    right: 200px; /* Add padding to the right to account for the right sidebar */
    width: calc(100% - 400px); /* Adjust width to account for both sidebars */
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000; /* Ensure the header is on top of other elements */
  }
  
  .header-left {
    display: flex;
    flex-direction: column;
  }
  
  .header-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-description {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  /* Media queries for responsiveness */
@media (max-width: 768px) {
  .header-container {
    left: 0; /* Remove left padding */
    right: 0; /* Remove right padding */
    width: 100%; /* Adjust width to 100% */
  }
}