.leftbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    z-index: 1000; /* Ensure the sidebar is on top of other elements */
  }
  
  .leftbar-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .leftbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .leftbar-menu button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .leftbar-menu button:hover {
    background-color: var(--button-hover-bg-color);
  }

  /* Media queries for responsiveness */
@media (max-width: 768px) {
  .leftbar-container {
    display: none; /* Hide sidebar on smaller screens */
  }
}