.rightbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  z-index: 1000; /* Ensure the sidebar is on top of other elements */
}

.rightbar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1; /* Allow the menu to grow and take available space */
}

.rightbar-menu button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 1rem;
  width: 100%;
}

.rightbar-menu button:hover {
  background-color: var(--button-hover-bg-color);
}

.rightbar-bottom-buttons {
  margin-top: auto; /* Push the buttons to the bottom */
  width: 100%;
}

.rightbar-bottom-buttons button {
  margin-bottom: 1rem;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .rightbar-container {
    display: none; /* Hide sidebar on smaller screens */
  }
}